

.footer {
  background-color: rgb(21, 23, 44);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  text-align: center;
}

.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-nav a:hover {
   color: #83127d;
}
