.header {
  background-color: #15172c;
  color: white;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.header-nav {
  display: flex;
  gap: 20px;
  font-weight: 500;
}

.header-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.header-nav a:hover {
  color: #83127d;
}

.logout-link {
  cursor: pointer;
  font-weight: bold;
}

.logout-link:hover {
  text-decoration: underline;
}