.player-card {
  background: rgb(28, 43, 70);
  color: white;
  font-weight: bold;

  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color:  rgb(41, 53, 78);

  font-size: 12px;
  padding: 2px 20px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  transition: box-shadow 0.2s ease;
  user-select: none;
}

.player-card:hover {
  box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
  background: rgb(38, 56, 90);
}

.player-card button {
  background: linear-gradient(90deg, rgb(22, 34, 56), rgb(21, 23, 44));
  border: none;
  color: white;
  padding: 6px 12px;
  margin-left: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold; 
  transition: background-color 0.2s ease;
}

.player-card button:hover {
  background: linear-gradient(90deg, #2c3285, #6e38da);
}

.player-card button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(254, 223, 255);
}

.draftPlayers{
  padding-left: 20px;
  padding-right: 22px;
  border-radius: 20px;
  background-color: rgb(22, 34, 56);
}
.player-card img{
  width: 50px;
  height: 35px;
  border-radius: 4px;
}