
.header {
  background-color: rgb(21, 23, 44);
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}


.header-title {
  font-size: 28px;
  font-weight: bold;
  padding-left: 30px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  padding: 10px;
}

.header-nav {
  display: flex;
  gap: 24px;
  font-size: 14px;
  font-weight: bold;
  font-weight: 500;
  padding-right: 50px;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header-nav a:hover {
  color: #83127d;
}